doctype html
html(lang='en')
  head
    title KopAir - Login
    // BEGIN META
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='keywords', content='your,keywords')
    meta(name='description', content='Short explanation about this website')
    // END META
    // BEGIN STYLESHEETS
    link(href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900', rel='stylesheet', type='text/css')
    link(type='text/css', rel='stylesheet', href='../../assets/css/theme-default/bootstrap.css?1422792965')
    link(type='text/css', rel='stylesheet', href='../../assets/css/theme-default/materialadmin.css?1425466319')
    link(type='text/css', rel='stylesheet', href='../../assets/css/theme-default/font-awesome.min.css?1422529194')
    link(type='text/css', rel='stylesheet', href='../../assets/css/theme-default/material-design-iconic-font.min.css?1421434286')
    // END STYLESHEETS
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(type='text/javascript', src='../../assets/js/libs/utils/html5shiv.js?1403934957')
      script(type='text/javascript', src='../../assets/js/libs/utils/respond.min.js?1403934956')
  body.menubar-hoverable.header-fixed
    // BEGIN LOGIN SECTION
    section.section-account
      .img-backdrop(style="background-image: url('../../assets/img/img16.jpg')")
      .spacer
      .card.contain-sm.style-transparent
        .card-body
          .row
            .col-sm-6
              br
              span.text-lg.text-bold.text-primary KopAir Login
              br
              br
              form.form.floating-label(action='../../html/dashboards/dashboard.html', accept-charset='utf-8', method='post')
                .form-group
                  input#username.form-control(type='text', name='username')
                  label(for='username') Username
                .form-group
                  input#password.form-control(type='password', name='password')
                  label(for='password') Password
                  p.help-block
                    a(href='#') Forgotten?
                br
                .row
                  .col-xs-6.text-left
                    .checkbox.checkbox-inline.checkbox-styled
                      label
                        input(type='checkbox')
                        span Remember me
                  // end .col
                  .col-xs-6.text-right
                    button.btn.btn-primary.btn-raised(type='submit') Login
                  // end .col
                // end .row
            // end .col
            .col-sm-5.col-sm-offset-1.text-center
              br
              br
              h3.text-light
                | No account yet?
              a.btn.btn-block.btn-raised.btn-primary(href='#') Sign up here
              br
              br
              h3.text-light
                | or
              p
                a.btn.btn-block.btn-raised.btn-info(href='#')
                  i.fa.fa-facebook.pull-left
                  | Login with Facebook
              p
                a.btn.btn-block.btn-raised.btn-info(href='#')
                  i.fa.fa-twitter.pull-left
                  | Login with Twitter
            // end .col
          // end .row
        // end .card-body
      // end .card
    // END LOGIN SECTION
    // BEGIN JAVASCRIPT
    script(src='../../assets/js/libs/jquery/jquery-1.11.2.min.js')
    script(src='../../assets/js/libs/jquery/jquery-migrate-1.2.1.min.js')
    script(src='../../assets/js/libs/bootstrap/bootstrap.min.js')
    script(src='../../assets/js/libs/spin.js/spin.min.js')
    script(src='../../assets/js/libs/autosize/jquery.autosize.min.js')
    script(src='../../assets/js/libs/nanoscroller/jquery.nanoscroller.min.js')
    script(src='../../assets/js/core/source/App.js')
    // END JAVASCRIPT
